* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing:border-box;
  word-break: break-all;
}

body {
  font-size: 14px;
  color: #303030;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  color: #303030;
  text-decoration: none;
}

a:hover{
  opacity:0.8;
  transition: 0.3s;
}

/*

tokyoramen-red #FB4343
base-color #fff
font-color #303030

darkest-gray #595959
dark-gray #979797
light-gray #D6D6D6
lightest-gray #EAEAEA

background-color: #FBFBFB;


space-xs 4px
space-sm 8px
space-md 12px
space-lg 20px
space-xl 24px

font-size-sm 12px
font-size-md 14px
font-size-lg 16px
font-size-xl 18px

*/
