.breadcrumb{
  overflow-x: auto;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.breadcrumb li{
  margin-right: 20px;
  font-size: 10px;
  width: auto;
  color: #3d3d3d;
}


.breadcrumb li:after{
  content: ">";
  margin-left: 12px;
}

.breadcrumb li:last-child:after{
  content: "";
  margin-left: 0;
}

.breadcrumb li a{
  text-decoration: none;
  color: #3d3d3d;
}

@media only screen and (max-width: 540px){
  .breadcrumb{
    overflow-x: scroll;
    -webkit-overflow-x: scroll;
  }

}
