.shop-name--title {
  font-size: 24px;
}

.shop-name--area {
  color: #595959;
}

.detail-img {
  width: 100%;
}

.detail-img__source-text {
  font-size: 10px;
}

.detail-img__source-link {
  color: #303030;
  text-decoration: none;
}

.detail-date {
  font-size: 10px;
}
