.heading-1{
margin-bottom:40px;
font-weight:bold;
color:black;
font-size:25px;
}
.heading-1:first-letter{
color:red;
font-size:30px;

}
.heading-2{
border-bottom:1px solid red;
display:inline-block;
}
