.source{
  display: flex;
}

.source_icon{
  margin-right: 12px;
}

.source_icon img{
  width: 20px;
  height: 20px;
}

.source_text{
  font-weight: bold;
  color: #979797;
}

.source_text_design{
  font-size: 14px;
  text-align: left;
}

.source_point{
  text-align: right;
  font-size: 12px;
}

.source_point_tx{
  text-decoration: none;
  color: #979797;
}
