
table.table_wrap {
  border: 1px solid #fff;
  border-collapse: collapse;
  width: 100%;
}

.chatch {
  font-weight: bolder;
  background-color: #fbfbfb;
  font-size: 12px;
  color: #595959;
  text-align: center;
  padding: 3px 3px;
  width: 20%;
}

.content {
  font-size: 12px;
  padding: 20px 20px;
}

tr {
  border: 1px solid #D6D6D6;
}
