.mv{
  width: 100%;
  background: url(../images/mv_pc.jpg) center center / cover no-repeat;
  background-size: cover;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px
}

@media only screen and (max-width:960px){

  .mv{
    display: block;
    background: url(../images/mv_sp.jpg) center center no-repeat;
    height: 70vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  } 

  .mv h2{
    display: block;
    color: #ffffff;
    font-size: 24px;
  }
}


