*{
box-sizing:border-box;
margin:0;
padding:0;
}

.header1{
    display:inline-block;
    text-align:center;
    height: 100px;
    width:100%;
    padding:100px 100px 0 0;
    margin:0 auto;
        
}

.kensaku{
    position: absolute;
    top: 30px;
    left: 25px;
}

.logo{
    width: 120px;
    top:30px;
    margin:  auto;
}

.login{
    float:right;
    position:absolute;
    top:30px;
    right:25px;
    height: 30px;
    font-size:11px;
    text-align:right;
    padding-right:50px;
}

ul li{
floayt:left;
}


.header2{

}

.scroll-menu{}

.main{

}

.main-contents{

}

.area{}
.article{}

.contents-side1{

}

.contents-side2{

}

.contents-side3{

}

.contents-side4{

}

.contents-side5{

}

.fotter1{}

.footer2{}



@media(){
これがレスポンシブ
実際のレトリップと違ってもいいので、レスポンシブ



}
